@import "../../styles/variables";

.message {
    $self: &;
    display: flex;
    padding: 5px;

    &--friend {
        padding-right: 20%;
    }

    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        img {
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            margin-top: 13px;
            margin-bottom: 18px;
        }
    }

    &__bubble {
        align-content: center;
        background: $blue;
        border-radius: 12px 12px 12px 0;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
        padding: 5px 5px 5px 10px;
        margin-bottom: 1px;
    }

    &__text {
        padding-top: 10px;
        font-size: 12px;
        color: #fff;
        line-height: 20px;
    }

    &__date {
        font-size: 10px;
        opacity: 0.4;
    }

    &--isme {
        flex-direction: row-reverse;
        padding-left: 20%;

        #{self}__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }

        #{$self}__avatar {
            text-align: right;
            img {
                margin-left: 13px; 
            }
        }
       
        #{$self}__bubble {
            background: #ffffff;
            border: 1px solid #ececec;
            box-shadow: 0pc 4px 4px rgba(0, 0, 0, 0.220444);
            border-radius: 12px 12px 0px 12px;
            #{$self}__text {
                color: #202020;
            }
        }

        #{$self}__date {
            text-align: left;
        }
    }
}

